venv/
.env/
.venv/

__pycache__/
*.py[cod]
*$py.class

*.log

.env
*.env

pip-wheel-metadata/
*.egg-info/
dist/
build/

.idea/

.mypy_cache/
.pytest_cache/
.pyright/

.DS_Store
Thumbs.db

~/.cache/huggingface/
.cache/huggingface/

checkpoint/
*.ckpt
events.out.tfevents.*

*.tmp
*.bak
*.swp
